#navbar{
	height: 12vh;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0);
	z-index: 999;
}

.logo p{
	display: none;
}

.liniesus{
    height: 4vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    background: rgba(247, 183, 79,0.55);
    border-bottom: 1px solid white;
}

.liniesus2 li{
    display: inline;
    color: #f5f3f0;
    padding-left: 10px;
    align-items: center;
}

.liniesus2 i{
    font-size: 14px;
    color: #f5f3f0;
    padding-left: 40px;
    align-items: center;
}

.liniesus ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.liniesus1{
    color: #f5f3f0;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo{
    color: #f5f3f0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: #f5f3f0;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    display: inline-block;
    transition: 0.7s;
    position: relative;
}

.nav-links li{
    list-style: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.7s ease;
}

nav a:hover{
	color:#f7b64f;
}

.logo a:hover{
    color:#f7b64f;
}

.logo a{
    text-decoration: none;
    color: #f5f3f0;
    display: inline-block;
    transition: 0.7s;
    position: relative;
}

nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #f7b64f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    color:#f7b64f;
}
  
nav a:hover:after { 
    width: 100%; 
    left: 0; 
    color:#f7b64f;
}